@font-face {
    font-family: Journey;
    src: url(../Fuentes/MyFontRegular.ttf);
}

@font-face {
    font-family: RedesSociales;
    src: url(../Fuentes/SocialMediaCircled.ttf);
}

body {
    margin: 0px;
    background-color: #ffd297;
    text-align: center;
}

.titulo {
    min-height: 10dvh;
    text-align: center;
    padding-top: 5dvh;
    font-family: Journey;
}

.menu ul {
    list-style-type: none;
    background-color: #413520;
    justify-content: center;
    margin: 0px;
    overflow:hidden;
    display: flex;
}

.menu a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 15px;

}

.menu a:hover {
    background-color: #916b29;
    border-radius: 15px;
}

.menu li {
    flex: none;
}

.menu-top ul {
    background-color: black;
    justify-content: center;
}
.menu-top li {
    color: rgb(255, 255, 255);
    padding: 15px;
    flex: none;
}

main {
    font-family: Journey;
    margin-top: 5dvh;
}

footer ul {
    list-style-type: none;
    background-color: #413520;
    justify-content: center;
    margin: 0px;
    display: flex;

}

.redes li:nth-child(1){
    background-color: black;
    
}

.redes li {
    float: none;
}

.redes a {
    text-decoration: none;
    padding: 15px;
    color: white;
}

.redes a:hover {
    background-color: #5c4c32;
    border-radius: 30px;
}

.redes h2 {
    font-family: RedesSociales;
}

p {
    text-align: center;
    font-size: small;
    color: white;
}

.contenedor {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}